%afterBedore_properties {
  content: "";
  position: absolute;
  transition: 0.5s;
}
$shadow-color: rgba(0, 0, 0, 0.5);
$social-media-colors: (
  "linkedin": #007bb5,
  
  "instagram": #c32aa3,
  // "twitter": #1da1f2,
    "youtube": #ff0000,
  "facebook": #1877f2,
);

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background-color: #cccccc;
}
ul {
  display: flex;

  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 40px;
  $i: 0;
  @each $social-media, $color in $social-media-colors {
    $i: $i + 1;
    &:nth-child(#{$i}) a {
      background-color: $color;
    }
    &:nth-child(#{$i}) a:before {
      background-color: darken($color, 5%);
    }
    &:nth-child(#{$i}) a:after {
      background-color: lighten($color, 4%);
    }
  }

  &:hover .fab {
    color: #fff;
  }
}

a {
  position: relative;
  display: block;

  width: 80px;
  height: 80px;

  text-align: center;
  box-shadow: -20px 20px 10px $shadow-color;

  transform: perspective(1000px) rotate(0deg) skew(0deg) translate(0, 0);
  //   rotate -30 , skew 25
  transition: 0.5s;

  &:before {
    @extend %afterBedore_properties;

    top: 10px;
    left: -20px;

    height: 100%;
    width: 20px;

    transform: rotate(0deg) skewY(-45deg);
  }
  &:after {
    @extend %afterBedore_properties;

    bottom: -20px;
    left: -10px;

    height: 20px;
    width: 100%;

    transform: rotate(0deg) skewX(-45deg);
  }

  &:hover {
    transform: perspective(1000px) rotate(0deg) skew(0deg)
      //   rotate -30 , skew 25
      translate(20px, -20px);
    box-shadow: -50px 50px 50px $shadow-color;
  }
}

.fab {
  font-size: 40px;
  color: #262626;
  line-height: 80px;

  transition: 0.5s;
}




/**
 * Grid styles
 */
 .video-grid.front-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em 2em;
}

ul.video-list {
  display: flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li.video {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
	width: 50%;
	width: -webkit-calc(100% / 2);
	width: calc(100% / 2);
  border: solid 0.2em transparent;
  
  & a {
    outline: none;
  }
      
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color .15s;
  }
  
  & figure {
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    & img {
      display: block;
      max-width: 100%;
      height: auto;
      opacity: 0;
      transform: scale(0.5);
      transition: all .20s;
    }

    & figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0,0,0,0.6);
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      padding: 1rem;
      transform: translateY(0);
      opacity: 1;
      transition: all .20s;
    }
  }
  
  &:hover {
    & figure {
      & img {
        opacity: 1;
        transform: scale(1);
      }
      
      & figcaption {
        opacity: 0;
        transform: translateY(50%);
      }
    }
  }
  
  &:hover:before {
    background-color: rgba(0,0,0,0.3);
  }
}

@media screen and (max-width: 800px) {
	li.video {
		width: 50%;
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 640px) {
	li.video {
		width: 100%;
	}
}

/**
 * Pen styles
 */
html { box-sizing: border-box; height: 100%; overflow-y: scroll; font-size: 62.5%; }
*, *:before, *:after { box-sizing: inherit; }
body {
	background: #fff;
	color: #444;
	font-family: 'Open Sans', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 1.8rem;
	line-height: 1.2;
}

header {
  width: 100%;
  padding: 2em;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
  
  & h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.03em;
    color: #666;
  }
}

main {
  padding: 2rem 0;
}

article {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em 2em;
}