.containerTop {
    position: relative;
    text-align: center;
    font-size: 100%;
    color: white;
    }
    .header1{
        min-height: 8vh;
        background: linear-gradient(
            119.54deg,#000046 0%,#1CB5E0 100%);
    }
    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -48%;
    }

    .centered1 {
        display: flex;
        justify-content: center;
        align-items: center;
        }
#top-line{
    font-size:250%;
}
#angelAuto img{
    width: 90%;
   
}


#bassain img{
    width: 80%;
    height: 80%;
}
#panam{
    padding-top: 7%;
}

#jijau img{
    width: 70%;
    height: 70%;

}

#juice img{
    width: 75%;
    height: 75%;
    padding-top: 10%;
}

#associate img{
    width: 90%;
    
}

@media (min-width:300px){
    .containerTop img{
        height: 400px;
    }
  
}
@media (min-width:768px){
    .containerTop img{
        height: 200px;
    }
   
}


@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    .titleSponsor{
      width: 110%;
    }
  }
  

gold{    
    animation: effect 2s linear infinite;
}
@keyframes effect {
    0%{
        color: rgb(252, 219, 31);
    }
    25%{
        color: yellow;
    }
    50%{
        color: rgb(226, 224, 107);
    }
    75%{
        color: yellow;
    }
    100%{
        color: gold;
    }
}