h1{
    color: #ff0000;
    text-align: center;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
 }
 
 .row1 > div[class*='col-'] {
   display: flex;
 }

 #members img{
     height: 62%;
     border-radius: 50%;
 }

 
 
 

 
