.containerTop {
position: relative;
text-align: center;
font-size: 100%;
color: white;
}
.centered {
position: absolute;
top: 76%;
left: 50%;
transform: translate(-50%, -50%);
}
.centered1 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    }
.header1{
    min-height: 8vh;
    background: linear-gradient(
        119.54deg,#000046 0%,#1CB5E0 100%);
}
#objective{
    width: 100%;
    height: 100%;
}

#goaltxt{
    padding-top: 8%;
}
#goalimg{
    width: 100%;
    height: 100%;
}


@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    .titleSponsor{
      width: 110%;
    }
  }

  .founders{
      align-items:center;
  }
.founders img{
    border-radius: 50%;
    width:75%;
    height: 75%;
    /* align-items: center; */
}
footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top: 100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 800px) {
    .slinks{
      font-size: 80px;
    }
  }
  /* Footer end */
  
  
  
  /* cards */
  
  @media (min-width: 300px) {
    .stat-title {
      font-size: 75%;
    }
  }
  
  @media (min-width: 576px) {
    .stat-title {
      font-size: 75%;
    }
  }
  
  @media (min-width: 768px) {
    .stat-title {
      font-size: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .stat-title {
      font-size: 150%;
    }
  }
  
  @media (min-width: 1200px) {
    .stat-title {
      font-size: 150%;
    }
  }
  
  @media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    .titleSponsor {
      width: 110%;
    }
  }
  